<div class="wrapper  m-1 position-relative">
  <div size="" accent="info" class="bg-none mx-1">
  
    <div class="d-flex flex-direction-row justify-content-between w-100 align-items-center head">
      <div class="symptom-head">
        <span>Patient Profile </span>
      </div>
      <!-- <button type="button" class="btn btn-primary button" mat-raised-button>
        + Edit
      </button> -->
      
    </div>
    <div class=" bg-white  table-top box-view m-0 p-0">
        <nb-card>
            <nb-card-body class="p-0 m-0">
          
              <nb-tabset fullWidth>
                <nb-tab tabTitle="View Profile" tabIcon="person-outline" responsive 
                style="font-size: 14px !important; font-weight: 600; padding: 1px !important; color: #333 !important; ">
                  <ngx-profile-view></ngx-profile-view>
                </nb-tab>
                <!-- <nb-tab tabTitle="Edit Profile" tabIcon="edit-2-outline" responsive 
                style="font-size: 14px !important; font-weight: 600; padding: 1px !important; color: #333 !important; ">
                  <ngx-profile-edit></ngx-profile-edit>
                </nb-tab> -->
              </nb-tabset>
          
            </nb-card-body>
          </nb-card>
      
    </div>

</div>
</div>

