<div class="wrapper  m-1 position-relative">
  <div size="" accent="info" class="bg-none mx-1">
    <div class="d-flex flex-direction-row justify-content-between w-100 align-items-center head">
      <div class="symptom-head">
        <span>Hospitals</span>
      </div>
      <button type="button"  *ngIf="accestype ==  'admin'" (click)="addhospital()"class="btn btn-primary button btn-sm mt-2" mat-raised-button>
        + Add New
      </button>
    </div>


    <div class=" bg-white  table-top box-view">
      <div class="row mx-1 mt-2">
        <div class="col-12 col-sm col-md col-lg mb-1">
          <div class="card-body p-0">
            <p class="pb-1 px-0 m-0" style="font-size: 14px; font-weight: 600;">State</p>
            <div class="input-group">
              <mat-form-field style="width:100%; font-size: 12px;">
                <mat-select [formControl]="bankCtrl3" placeholder="" #singleSelect>
                  <mat-option>
                    <ngx-mat-select-search placeholderLabel="Enter pin State" noEntriesFoundLabel="No matching state"[formControl]="bankFilterCtrl3"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let bank3 of filteredBanks3 | async" [value]="bank3">
                    {{bank3.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
            </div>
          </div>
        </div>
        <div class="col-12 mb-1 col col-sm col-md col-lg">
          <div class="column">
            <div class="card-body p-0">
              <p class=" pb-1  px-0 m-0" style="font-size: 14px; font-weight: 600;">City</p>
              <div class="input-group">
                <mat-form-field style="width:100%; font-size: 12px;">
                  <mat-select [formControl]="bankCtrl4" placeholder="" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Enter pin city" noEntriesFoundLabel="No matching pin"[formControl]="bankFilterCtrl4"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let bank4 of filteredBanks4 | async" [value]="bank4">
                      {{bank4.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-1 col-12 col-sm col-md col-lg">
          <div class="column">
            <div class="card-body p-0">
              <p class="pb-1 px-0 m-0" style="font-size: 14px; font-weight: 600;">Pin </p>
              <div class="input-group">
                <mat-form-field style="width:100%; font-size: 12px;">
                  <mat-select [formControl]="bankCtrl2" placeholder="" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Enter pin code" noEntriesFoundLabel="No matching pin"[formControl]="bankFilterCtrl2"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let bank2 of filteredBanks2 | async" [value]="bank2">
                      {{bank2.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-0 p-0 mb-1">
        <div class="col-lg col-md col-sm col-12 mb-1 mx-1">
          <div class="column">
            <div class="card-body p-0">
              <button type="submit" (click)="doctorsearch()" class="btn btn-primary btnhight btn-sm text-center float-right">Submit</button>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="main d-flex justyfy-content-end aligin-items-center">
          <div id="custom-search-input mb-2">
            <div class="input-group col-md-12 mb-2">
              <input type="text" (keyup)="doFilter($event.target.value)" class="search-query form-control"
                placeholder="Search" style="font-size: 12px;" />
              <span class="input-group-btn btn btn-primary mr-2 btn-search">
                <i class="fas fa-search " aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-lg col-md col-sm m-0 p-0 d-flex justify-content-center align-items-center table-scroll">
        <table mat-table [dataSource]="dataSource" matSort class="table-view">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="table-head"> Sl.No. </th>
            <td mat-cell *matCellDef="let element; let i=index;"> {{element.sl_no}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="table-head"> Hospital </th>
            <td mat-cell *matCellDef="let element">{{element.hosp_name }} </td>
          </ng-container>
          <ng-container matColumnDef="hospitalName">
            <th mat-header-cell *matHeaderCellDef class="table-head"> Address </th>
            <td mat-cell *matCellDef="let element">{{element.address | titlecase}} </td>
          </ng-container>

          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef class="table-head"> City  </th>
            <td mat-cell *matCellDef="let element"> {{element.city | titlecase}} </td>
          </ng-container>

          <ng-container matColumnDef="pin">
            <th mat-header-cell *matHeaderCellDef class="table-head"> Pin </th>
            <td mat-cell *matCellDef="let element"> {{element.pin | titlecase}}</td>
          </ng-container>

          <ng-container matColumnDef="branches">
            <th mat-header-cell *matHeaderCellDef class="table-head"> Doctor </th>
            <td mat-cell *matCellDef="let element"> {{element.doctor_enrolled ? element.doctor_enrolled.length : 0}}</td>
          </ng-container>
          
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="table-head">Status</th>
            <td mat-cell *matCellDef="let element"> {{element.status || "Active"}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="table-head">Action</th>
            <td mat-cell *matCellDef="let element">
              <span class="edit d-flex flex-direction-row justify-content-spacearound align-items-center" >
                <i class="fa fa-eye btn btn-success btn-sm mx-1" 
                (click)="editdpctor(element)" aria-hidden="true"
                  style="font-size: 12px;" ></i>
                <i class="fa fa-plus btn btn-primary btn-sm mx-1" 
                (click)="addbranch(element)" aria-hidden="true" *ngIf="this.accestype == 'admin' || this.accestype == 'hospitaladmin'"
                  style="font-size: 12px;"></i>
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="Members">
            <th mat-header-cell *matHeaderCellDef class="table-head">Branches</th>
            <td mat-cell *matCellDef="let element">
              <div class="row">
                <div class="col-md-4" style="padding: 5px 7px;" *ngFor="let branch of element.branches  ">
                  <span class="member-circle  btn button " mat-raised-button aria-hidden="true"   data-toggle="tooltip" title="{{branch.hosp_name}}"
                    (click)="editdpctormember(element, branch)">{{branch.hosp_name.charAt(0)}}
                  </span>
                </div>
                <!-- <div class="col-md-4" style="padding: 5px 7px;" *ngFor="let branch of element.branches  ">
                  <span class="member-circle  btn button " mat-raised-button aria-hidden="true"   data-toggle="tooltip" title="{{branch.hosp_name}}"
                    (click)="editdpctormember(element, branch)">{{branch.hosp_name.charAt(0)}}
                  </span>
                </div> -->
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <!-- Angular 8 pagination -->
      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[10, 15, 20, 50]">
      </mat-paginator>
    </div>

  </div>
</div>