<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Add Specialization</h1>
    </header>
    <section id="modal-body">
        <form action="">
            <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-default" placeholder="Specilization Name">
              </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">select file</label>
            </div>
        </form>
    </section>
    <footer id="modal-footer">
        <button  id="modal-action-button" class="btn btn-md modal_button_action" type="button" (click)="actionFunction()">
            Submit
        </button>
        <button class="btn btn-md modal_button_cancel" type="button"  id="modal-cancel-button" (click)="closeModal()">
            Cancel
        </button>
    </footer>
</div>