@import '../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
