<div size="" accent="info" class="bg-none mx-3 mt-4" style="cursor: pointer; height: auto;">
    <div class="d-flex flex-direction-row justify-content-between w-100 align-items-center head">
      <div class="symptom-head">
        <span class="display-6">Consultations</span>
      </div>
      <button type="button" class="btn btn-primary button d-none" mat-raised-button>
        + Add New
      </button>
  
    </div>
  
    <div class=" bg-white  table-top box-view mb-1 pb-3">
      <div class="row">
        <div class="mb-1 col-12 col-sm col-md col-lg" style=" height: 5rem;">
            <div class="column">
              <div class="card-body">
                <p class=" mb-1 font-weight-bolder px-0 mt-2">Ref. ID</p>
                <div class="input-group border-bottom rounded p-0">
                    <p class="p-0 m-0">{{id}}</p>
                </div>
              </div>
            </div>
        </div>
        <div class="col-12 col-sm col-md col-lg mb-1 " style=" height: 5rem;">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Type </p>
              <div class="input-group">
                <div class="input-group border-bottom rounded p-0">
                  <p class="p-0 m-0">{{appointment_subtype | titlecase}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Date </p>
              <div class="input-group border-bottom rounded p-0">
                <p class="p-0 m-0">{{date}}</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-12 col-sm col-md col-lg mb-1 " style=" height: 5rem;">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Status </p>
              <div class="input-group border-bottom rounded p-0">
                <p class="p-0 m-0 text-right">
                  <!-- <i class="fa fa-toggle-on " aria-hidden="true" style="color: #55ee6f; font-size: 16px;"></i> -->
                  {{appointment_status | titlecase}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Last Update Date </p>
              <div class="input-group border-bottom rounded p-0">
                <p class="p-0 m-0 text-right">{{updatedAt }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Time </p>
              <div class="input-group border-bottom rounded p-0">
                <p class="p-0 m-0 col d-flex justify-content-between align-items-center">
                  <span>{{appointment_time}}</span>
                  
                </p>
              </div>
            </div>
          </div>
      </div>
        <!-- <div class="mb-1 col-12 col-sm col-md col-lg" style=" height: 5rem;">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Remarks </p>
              <div class="input-group">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="If Cancelled, By Patient / Doctor with their comments">
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="mb-1 col-12 col-sm col-md col-lg">
          <div class="row">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Remarks </p>
              <div class="input-group border-bottom rounded p-0 ">
                <p class="p-0 m-0 text-left mb-2">
                {{appointment_desc}}  
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-1 col-12 col-sm col-md col-lg">
          <div class="row">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Images / Documents Submitted </p>
              <div class="input-group border-bottom rounded p-0 ">
                <!-- <p class="p-0 m-0 text-left mb-2">
                  <a href="#" class="text-decoration-none px-1">Document-1</a>
                  <a href="#" class="text-decoration-none px-1">Document-1</a>
                  <a href="#" class="text-decoration-none px-1">Document-1</a>
                  <a href="#" class="text-decoration-none px-1">Document-1</a>
                </p> -->
                <div><ul>
                  <li *ngFor="let file of petientdoc">
                    <p style="color: blue;" (click)="viewiamge(file.documentname)">{{file.documentname}} </p>
                  </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

     <div class="row">
        <div class="col col-sm col-md col-lg mt-4 mb-2 mr-3">
          <button type="submit" class="btn btn-primary d-none  float-right">Submit</button>
        </div>
      </div>
  
      <!-- <div class="column mt-1">
        <div class="main d-flex justyfy-content-end aligin-items-center">
          <div id="custom-search-input mb-2">
            <div class="input-group col-md-12 mb-2">
              <input type="text" class="  search-query form-control" placeholder="Search" />
              <span class="input-group-btn">
                <button class="btn btn-primary mr-1" type="button">
                  <i class="fas fa-search " aria-hidden="true"></i>
                </button>
              </span>
            </div>
          </div>
        </div><!-- (keyup)="doFilter($event.target.value)"
      </div> -->
  
    </div>
</div>

<!-- <div size="" accent="info" class="bg-none mx-3 mt-4" style="cursor: pointer;">
    <div class="d-flex flex-direction-row justify-content-between w-100 align-items-center head">
      <div class="symptom-head">
        <span class="display-6">Doctor Details</span>
      </div>
      <button type="button" class="btn btn-primary button d-none" mat-raised-button>
        + Add New
      </button>
  
    </div>
  
    <div class=" bg-white  table-top box-view">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-12 d-flex justify-content-center align-items-center">
          <img src="../../../../assets/images/friends.png" alt="doctor" style="width: 200px; height: 200px; padding: 5px; contain: content ;">
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-12">
          <div class="row">
            <div class="col-12 col-sm col-md col-lg mb-1 " style=" height: 5rem;">
              <div class="column">
                <div class="card-body">
                  <p class=" mb-1 font-weight-bolder px-0 mt-2">Name </p>
                  <div class="input-group border-bottom rounded p-0">
                    <p class="p-0 m-0">Dr. Niraja Karthik</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
              <div class="column">
                <div class="card-body">
                  <p class=" mb-1 font-weight-bolder px-0 mt-2">Sepcialisation </p>
                  <div class="input-group border-bottom rounded p-0">
                    <p class="p-0 m-0">Dentist</p>
                </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="mb-1 col-12 col-sm col-md col-lg" style=" height: 5rem;">
              <div class="column">
                <div class="card-body">
                  <p class=" mb-1 font-weight-bolder px-0 mt-2">SMC No </p>
                  <div class="input-group border-bottom rounded p-0">
                    <p class="p-0 m-0">DS342578Q</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm col-md col-lg mb-1 " style=" height: 5rem;">
              <div class="column">
                <div class="card-body">
                  <p class=" mb-1 font-weight-bolder px-0 mt-2">Contact No </p>
                  <div class="input-group border-bottom rounded p-0">
                    <p class="p-0 m-0">9900088997</p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
              <div class="column">
                <div class="card-body">
                  <p class=" mb-1 font-weight-bolder px-0 mt-2">Clinic Name </p>
                  <div class="input-group border-bottom rounded p-0">
                    <p class="p-0 m-0">Doctor Setu</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
              <div class="column">
                <div class="card-body">
                  <p class=" mb-1 font-weight-bolder px-0 mt-2">Email ID </p>
                  <div class="input-group border-bottom rounded p-0">
                    <p class="p-0 m-0">info@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Address </p>
              <div class="input-group border-bottom rounded p-0">
                <p class="p-0 m-0">Bangalore, Bangalore, Karanataka, </p>
              </div>
            </div>
          </div>
        </div>
      </div>
     <div class="row">
        <div class="col col-sm col-md col-lg mt-4 mb-2 mr-3">
          <button type="submit" class="btn btn-primary d-none  float-right">Submit</button>
        </div>
      </div>
    </div>
</div> -->

<div size="" accent="info" class="bg-none mx-3 mt-4" style="cursor: pointer;">
  <div class="d-flex flex-direction-row justify-content-between w-100 align-items-center head">
    <div class="symptom-head">
      <span class="display-6">Doctor Details</span>
    </div>
    <button type="button" class="btn btn-primary button d-none" mat-raised-button>
      + Add New
    </button>

  </div>

  <div class=" bg-white  table-top box-view">
    <div class="row">
      
      <div class="col-lg-3 col-md-3 col-sm-3 col-12 d-flex justify-content-center align-items-center">
        <div class="row">
          <div class="col-12 text-center">
          <img src="{{profilepicdoc}}" alt="doctor" style="width: 200px; height: 200px; padding: 5px; contain: content ;">
          </div>
          <div class="col-12  mb-1 d-flex justify-content-center align-items-center">
            <div class="input-group p-0">
              <h6 class="col p-0 m-0 text-center font-weight-bolder">{{doctor_name}}</h6>
            </div>
          </div>
          <div class="col-12 mb-1 d-flex justify-content-center align-items-center">
            <div class="input-group text-center p-0">
              <p class="col p-0 m-0 text-center">{{degree}}</p>
            </div>
          </div>
          <div class="col-12 mb-1 d-flex justify-content-center align-items-center">
            <div class="input-group text-center p-0">
              <p class="col p-0 m-0 text-center">{{specialization}}</p>
            </div>
          </div>
        </div>
        
        <div class="row">
          
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-12">
       
        <div class="row">
          <div class="mb-1 col-12 col-sm col-md col-lg" style=" height: 5rem;">
            <div class="column">
              <div class="card-body">
                <p class=" mb-1 font-weight-bolder px-0 mt-2">SMC No </p>
                <div class="input-group border-bottom rounded p-0">
                  <p class="p-0 m-0">{{smc_no}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm col-md col-lg mb-1 " style=" height: 5rem;">
            <div class="column">
              <div class="card-body">
                <p class=" mb-1 font-weight-bolder px-0 mt-2">Contact No </p>
                <div class="input-group border-bottom rounded p-0">
                  <p class="p-0 m-0">{{doc_phnum}}</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
            <div class="column">
              <div class="card-body">
                <p class=" mb-1 font-weight-bolder px-0 mt-2">Clinic Name </p>
                <div class="input-group border-bottom rounded p-0">
                  <p class="p-0 m-0">{{clinic_name}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
            <div class="column">
              <div class="card-body">
                <p class=" mb-1 font-weight-bolder px-0 mt-2">Email ID </p>
                <div class="input-group border-bottom rounded p-0">
                  <p class="p-0 m-0">{{doctor_email | titlecase}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
            <div class="column">
              <div class="card-body">
                <p class=" mb-1 font-weight-bolder px-0 mt-2">Address </p>
                <div class="input-group border-bottom rounded p-0">
                  <p class="p-0 m-0">{{doctor_address}} </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
   
   <div class="row">
      <div class="col col-sm col-md col-lg mt-4 mb-2 mr-3">
        <button type="submit" class="btn btn-primary d-none  float-right">Submit</button>
      </div>
    </div>
  </div>
</div>

<div size="" accent="info" class="bg-none mx-3 mt-4" style="cursor: pointer;">
  <div class="d-flex flex-direction-row justify-content-between w-100 align-items-center head">
    <div class="symptom-head">
      <span class="display-6">Patient Details</span>
    </div>
    <button type="button" class="btn btn-primary button d-none" mat-raised-button>
      + Add New
    </button>

  </div>

  <div class=" bg-white  table-top box-view">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-12 d-flex justify-content-center align-items-center">
        <img src="{{profilepic}}" alt="doctor" style="width: 200px; height: 200px; padding: 5px; contain: content ;">
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-12">
        <div class="row">
          <div class="col-12 col-sm col-md col-lg mb-1 " style=" height: 5rem;">
            <div class="column">
              <div class="card-body">
                <p class=" mb-1 font-weight-bolder px-0 mt-2">Name </p>
                <div class="input-group border-bottom rounded p-0">
                  <p class="p-0 m-0">{{patient_name}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
            <div class="column">
              <div class="card-body">
                <p class=" mb-1 font-weight-bolder px-0 mt-2">Gender </p>
                <div class="input-group border-bottom rounded p-0">
                  <p class="p-0 m-0">{{patient_gender | titlecase}}</p>
              </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="mb-1 col-12 col-sm col-md col-lg" style=" height: 5rem;">
            <div class="column">
              <div class="card-body">
                <p class=" mb-1 font-weight-bolder px-0 mt-2">Age </p>
                <div class="input-group border-bottom rounded p-0">
                  <p class="p-0 m-0">{{user_dob}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm col-md col-lg mb-1 " style=" height: 5rem;">
            <div class="column">
              <div class="card-body">
                <p class=" mb-1 font-weight-bolder px-0 mt-2">Contact No </p>
                <div class="input-group border-bottom rounded p-0">
                  <p class="p-0 m-0">{{user_mobile}}</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
            <div class="column">
              <div class="card-body">
                <p class=" mb-1 font-weight-bolder px-0 mt-2">Height </p>
                <div class="input-group border-bottom rounded p-0">
                  <p class="p-0 m-0">{{user_height}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
            <div class="column">
              <div class="card-body">
                <p class=" mb-1 font-weight-bolder px-0 mt-2">Weight </p>
                <div class="input-group border-bottom rounded p-0">
                  <p class="p-0 m-0">{{user_weight}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
            <div class="column">
              <div class="card-body">
                <p class=" mb-1 font-weight-bolder px-0 mt-2">Blood Group </p>
                <div class="input-group border-bottom rounded p-0">
                  <p class="p-0 m-0">{{user_bloodgroup}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
        <div class="column">
          <div class="card-body">
            <p class=" mb-1 font-weight-bolder px-0 mt-2">Pre-existing Diseases </p>
            <div class="input-group border-bottom rounded p-0">
              <p class="p-0 m-0">{{user_preexisting}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
        <div class="column">
          <div class="card-body">
            <p class=" mb-1 font-weight-bolder px-0 mt-2">Allergic To </p>
            <div class="input-group border-bottom rounded p-0">
              <p class="p-0 m-0">{{user_alergicto}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
        <div class="column">
          <div class="card-body">
            <p class=" mb-1 font-weight-bolder px-0 mt-2">Address</p>
            <div class="input-group border-bottom rounded p-0">
              <p class="p-0 m-0">
                {{user_address}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="row">
      <div class="col col-sm col-md col-lg mt-4 mb-2 mr-3">
        <button type="submit" class="btn btn-primary d-none  float-right">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- <div size="" accent="info" class="bg-none mx-3 mt-4" style="cursor: pointer;">
    <div class="d-flex flex-direction-row justify-content-between w-100 align-items-center head">
      <div class="symptom-head">
        <span class="display-6">Patient Details</span>
      </div>
      <button type="button" class="btn btn-primary button d-none" mat-raised-button>
        + Add New
      </button>
  
    </div>
  
    <div class=" bg-white  table-top box-view">
      <div class="row">
        <div class="col-12 col-sm col-md col-lg mb-1 " style=" height: 5rem;">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Name </p>
              <div class="input-group">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Name with Qualification">
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Gender </p>
              <div class="input-group">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Enter Sepcialisation">
              </div>
            </div>
          </div>
        </div>
        <div class="mb-1 col-12 col-sm col-md col-lg" style=" height: 5rem;">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Age </p>
              <div class="input-group">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="yrs">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm col-md col-lg mb-1 " style=" height: 5rem;">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Contact No </p>
              <div class="input-group">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Enter Mobile No">
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Height </p>
              <div class="input-group">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="cm">
              </div>
            </div>
          </div>
        </div>
        <div class="mb-1 col-12 col-sm col-md col-lg" style=" height: 5rem;">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Weight </p>
              <div class="input-group">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Kgs">
              </div>
            </div>
          </div>
        </div>
        <div class="mb-1 col-12 col-sm col-md col-lg" style=" height: 5rem;">
            <div class="column">
              <div class="card-body">
                <p class=" mb-1 font-weight-bolder px-0 mt-2">Blood Group </p>
                <div class="input-group">
                  <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Blood Group">
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm col-md col-lg mb-1 " style=" height: 5rem;">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Pre-existing Diseases </p>
              <div class="input-group">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Enter Pre-existing Diseases">
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mb-1 col col-sm col-md col-lg" style=" height: 5rem;">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Allergic To </p>
              <div class="input-group">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Enter Allergic To">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm col-md col-lg mb-1 " style=" height: 5rem;">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Images / Documents Submitted </p>
              <div class="input-group">
                <input type="file" id="file"  class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
         
                 <label class="custom-file-label" for="inputGroupFile01">Images / Documents Submitted</label>
              </div>
            </div>
          </div>
        </div>
      </div>
     <div class="row">
        <div class="col col-sm col-md col-lg mt-4 mb-2 mr-3">
          <button type="submit" class="btn btn-primary d-none  float-right">Submit</button>
        </div>
      </div>
  
    </div>
</div> -->

<div size="" accent="info" class="bg-none mx-3 mt-4" style="cursor: pointer;" *ngIf="appointment_status !='pending'">
    <div class="d-flex flex-direction-row justify-content-between w-100 align-items-center head">
      <div class="symptom-head">
        <span class="display-6">Consultation Details</span>
      </div>
      <button type="button" class="btn btn-primary button d-none" mat-raised-button>
        + Add New
      </button>
  
    </div>
  
    <div class=" bg-white  table-top box-view">
      <!-- <div class="row mb-2">
        <div class="col-12 col-sm col-md col-lg mb-1 ">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Reported Symptoms and Illness Brief </p>
              <div class="input-group border-bottom rounded p-0">
                <p class="p-0 m-0">{{appointment_desc}}</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row mb-2" *ngIf="appointment_status =='cancled'">
        <div class="col-12 col-sm col-md col-lg mb-1 ">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Reason for cancellation.</p>
              <div class="input-group border-bottom rounded p-0">
                <p class="p-0 m-0">{{cancelreason}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2" *ngIf="appointment_status =='completed'">
        <div class="col-12 col-sm col-md col-lg mb-1 ">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Chief Complaints and Relevant Points from History</p>
              <div class="input-group border-bottom rounded p-0">
                <p class="p-0 m-0">{{observation}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2" *ngIf="appointment_status =='completed'">
        <div class="col-12 col-sm col-md col-lg mb-1 ">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Examination / Lab Findings</p>
              <div class="input-group border-bottom rounded p-0">
                <p class="p-0 m-0">{{analysis}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2" *ngIf="appointment_status =='completed'">
        <div class="col-12 col-sm col-md col-lg mb-1 ">
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Diagnosis, Suggested Investigations and Prescription</p>
              <div class="input-group border-bottom rounded p-0">
                <p class="p-0 m-0">{{presciption}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="appointment_status =='completed'">
        <div class="col-12 col-sm col-md col-lg mb-1 " >
          <div class="column">
            <div class="card-body">
              <p class=" mb-1 font-weight-bolder px-0 mt-2">Download PDF</p>
              <div class="input-group justify-content-start align-items-center py-2">
                
                <button type="button" class="btn btn-outline-success" (click)="downloadpdf()">
                  Download PDF
                </button>
                
              </div>
            </div>
          </div>
        </div>
      </div>
     <div class="row">
        <div class="col col-sm col-md col-lg mt-4 mb-2 mr-3">
          <button type="submit" class="btn btn-primary d-none  float-right">Submit</button>
        </div>
      </div>
  
    </div>
</div>


