
:host ::ng-deep nb-stepper .step-content {
    text-align: center;
  
    button {
      cursor: pointer;
      margin: 0.5rem;
    }
  }
.search_fileld{
  width: 25%;
  display: block;
  transition: all 0.5s ease;
  width: 100%;
  margin: 0;
  color: #a9a9a9;
  font-size: 14px;
  margin-bottom: 12px;
}
.table-view{
  border-top: 2px solid #fdf5f5;
  border-bottom: 2px solid #fdf5f5;
}
.table-view th{
  background-color: #c7c2c2;
  font-size: 14px !important;
  color: #34343a !important;
  border-left: 1px solid #eee;
  padding:0px 2px;
}
.table-view th:hover{
  color: rgb(64, 64, 122);
}
.table-view td{
  font-size: 14px;
  border-left: 1px solid #eee;
  padding:0px 2px;
}
.symptom-head{
  color: #000;
  font-size: 28px;
  font-weight: 600;
}
.head{
  margin-bottom: 30px;
}
.button{
  background-color: rgb(76, 76, 153) !important;
  text-shadow: 0.5px 0.5px #4b2323;
  transition: all 0.5s ease;
  color: #FFF;
}
.button:hover{
  transform: scale(1.1);
}
.table-top{
  border-top: 2px solid rgb(76, 76, 153);
}
.main {
  float: right;
  margin-top: 6px;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.box-view{
  border-top: 3px solid #684892;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab-title{
  color: #444 !important;
}

#modal-footer {
  justify-self: right;
  align-self: center;
  float: right;
}

.button_action {
  margin-right: 30px;
  background-color:#36be3d;
  color: white;
  padding: 6px;
}

.button_cancel {
  background-color: #635f5f;
  color: white;
  padding: 6px;
}
.edit{
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .table-scroll {
    overflow-x: scroll;
  }
}