<div class="row m-0 p-0 mt-1">
    <div class="col-12 col-lg col-md col-sm m-0 p-0 mx-1">
      <p class="m-0 p-0 mb-1" style="color: #6b6a6a; font-size: 14px; font-weight: 600;">Nick Name</p>
      <div class="mb-1 m-0">
        <p class="p-0 m-0">
            <input type="email" class="form-control m-0" id="exampleInputEmail1" 
            aria-describedby="emailHelp" placeholder="Self / Pappu / Chittu..." style="font-size: 12px;">
        </p>
      </div>
    </div>
    <div class="col-12 col-lg col-md col-sm m-0 p-0 mx-1">
      <p class="m-0 p-0 mb-1" style="color: #6b6a6a; font-size: 14px; font-weight: 600;">Gender</p>
      <div class="mb-1 m-0">
        <p class="p-0 m-0">
            <input type="email" class="form-control m-0" id="exampleInputEmail1" 
            aria-describedby="emailHelp" placeholder="Male/Female/Others" style="font-size: 12px;">
        </p>
      </div>
    </div>
    <div class="col-12 col-lg col-md col-sm m-0 p-0 mx-1">
      <p class="m-0 p-0 mb-1" style="color: #6b6a6a; font-size: 14px; font-weight: 600;">Relationship with Self</p>
      <div class="mb-1 m-0">
        <p class="p-0 m-0">
            <input type="email" class="form-control m-0" id="exampleInputEmail1" 
            aria-describedby="emailHelp" placeholder="Self / Wife / Son / Community Member" style="font-size: 12px;">
        </p>
      </div>
    </div>
  </div>
  
  <div class="row m-0 p-0">
    <nb-card class="col-lg-4 col-md-4 col-sm-4 col-12 border rounded m-0 p-0">
      <img src="../../../../../assets/images/person.jpg" alt="img" 
      style="width: 100%; height: auto; background-size: contain;" >
        <input type="file" class="custom-file-input" id="inputGroupFile01" 
        aria-describedby="inputGroupFileAddon01" style="font-size: 12px;">
        <label class="custom-file-label m-1" for="inputGroupFile01" style="font-size: 12px;">Profile Image</label>
    </nb-card>
    <div class="col-lg-8 col-md-8 col-sm-8 col-12 m-0 small-screen">
      <div class="m-0 p-0 mb-1">
        <p class="col m-0 p-0 text-left" style=" font-size: 14px; font-weight: 600;">Name</p>
        <div class="mb-1 m-0">
            <p class="p-0 m-0">
                <input type="email" class="form-control m-0" id="exampleInputEmail1" 
                aria-describedby="emailHelp" placeholder="Enter your Name" style="font-size: 12px;">
            </p>
        </div>
      </div>
      <div class="m-0 p-0 mb-1">
        <p class="col m-0 p-0 text-left" style=" font-size: 14px; font-weight: 600;">Address</p>
        <div class="mb-1 m-0">
            <p class="p-0 m-0">
                <input type="text-area" class="form-control m-0" id="exampleInputEmail1" 
                aria-describedby="emailHelp" placeholder="Enter your Address" style="font-size: 12px;">
            </p>
        </div>
      </div>
      <div class="m-0 p-0 mb-1">
        <p class="col m-0 p-0 text-left" style=" font-size: 14px; font-weight: 600;">City</p>
        <div class="mb-1 m-0">
            <p class="p-0 m-0">
                <select class="form-control" id="exampleFormControlSelect1" style="font-size: 12px;">
                    <option>Select City</option>
                    <option>Bangalore</option>
                    <option>Chennai</option>
                    <option>Hyderabad</option>
                </select>
            </p>
        </div>
      </div>
      <div class="m-0 p-0 mb-1">
        <p class="col m-0 p-0 text-left" style=" font-size: 14px; font-weight: 600;">State</p>
        <div class="mb-1 m-0">
            <p class="p-0 m-0">
                <select class="form-control" id="exampleFormControlSelect1" style="font-size: 12px;">
                    <option>Select City</option>
                    <option>Karnataka</option>
                    <option>Tamilanadu</option>
                    <option>Kerala</option>
                </select>
            </p>
        </div>
      </div>
      <div class="m-0 p-0 mb-1">
        <p class="col m-0 p-0 text-left" style=" font-size: 14px; font-weight: 600;">Pin code</p>
        <div class="mb-1 m-0">
            <p class="p-0 m-0">
                <input type="text" class="form-control" id="inputZip" name="pin" 
                pattern="[0-9]{4}" maxlength="6" placeholder="Pin Code" style="font-size: 12px;">
            </p>
        </div>
      </div>
      <div class="m-0 p-0 mb-1">
        <p class="col m-0 p-0 text-left" style=" font-size: 14px; font-weight: 600;">Mobile No</p>
        <div class="mb-1 m-0">
            <p class="p-0 m-0">
              <input type="text-area" class="form-control m-0" id="exampleInputEmail1" 
              aria-describedby="emailHelp" placeholder="+91 -" style="font-size: 12px;">
            </p>
        </div>
      </div>
      <div class="m-0 p-0 mb-1">
        <p class="col m-0 p-0 text-left" style=" font-size: 14px; font-weight: 600;">Aadhaar No</p>
        <div class="mb-1 m-0">
            <p class="p-0 m-0">
              <input type="text-area" class="form-control m-0" id="exampleInputEmail1" 
              aria-describedby="emailHelp" placeholder="Aadhar Number" style="font-size: 12px;">
            </p>
        </div>
      </div>
      <div class="m-0 p-0 mb-1">
        <p class="col m-0 p-0 text-left" style=" font-size: 14px; font-weight: 600;">Email Id</p>
        <div class="mb-1 m-0">
            <p class="p-0 m-0">
              <input type="text-area" class="form-control m-0" id="exampleInputEmail1" 
              aria-describedby="emailHelp" placeholder="Email Id" style="font-size: 12px;">
            </p>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <div class="row m-0 p-0 px-1">
    <div class="col-12 col-lg col-md col-sm m-0 p-0 mx-1"> 
      <p class="m-0 p-0 mb-1 text-left" style=" font-size: 14px; font-weight: 600;">Date of Birth</p>
      <div class="mb-1 m-0">
        <p class="p-0 m-0 border rounded">
            <input [nbDatepicker]="rangepicker" placeholder="Date of Birth" class="col py-2 " 
            style="font-size: 12px; border: none;" >
            <nb-rangepicker #rangepicker style="font-size: 12px;"></nb-rangepicker>
        </p>
        </div>
    </div>
    <div class="col-12 col-lg col-md col-sm m-0 p-0 mx-1">
      <p class="m-0 p-0 mb-1 text-left" style=" font-size: 14px; font-weight: 600;">Gender</p>
      <div class="mb-1 m-0">
        <p class="p-0 m-0 border rounded row" 
        style="font-size: 12px; padding: 0px; height: 31px; line-height: 30px;">
            <nb-radio-group [(ngModel)]="option" 
            class="d-flex justyfy-content-center align-items-center px-2" style="height: 52px; font-size: 12px;">
                <nb-radio
                class="mb-4"
                  *ngFor="let option of options"
                  [value]="option.value">
                  {{ option.label }}
                </nb-radio>
            </nb-radio-group>
        </p>
        </div>
    </div>
  </div>
  
  <div class="row m-0 p-0 px-1">
    <div class="col-12 col-lg col-md col-sm m-0 p-0 mx-1">
      <p class="m-0 p-0 mb-1 text-left" style=" font-size: 14px; font-weight: 600;">Height</p>
      <div class="mb-1 m-0">
        <p class="p-0 m-0">
            <input type="text-area" class="form-control m-0" id="exampleInputEmail1" 
            aria-describedby="emailHelp" placeholder="Height cm" style="font-size: 12px;">
        </p>
        </div>
    </div>
    <div class="col-12 col-lg col-md col-sm m-0 p-0 mx-1">
      <p class="m-0 p-0 mb-1 text-left" style=" font-size: 14px; font-weight: 600;">Weight</p>
      <div class="mb-1 m-0">
        <p class="p-0 m-0">
            <input type="text-area" class="form-control m-0" id="exampleInputEmail1" 
            aria-describedby="emailHelp" placeholder="Weight Kgs" style="font-size: 12px;">
        </p>
        </div>
    </div>
    <div class="col-12 col-lg col-md col-sm m-0 p-0 mx-1">
      <p class="m-0 p-0 mb-1 text-left" style=" font-size: 14px; font-weight: 600;">Blood Group</p>
      <div class="mb-1 m-0">
        <p class="p-0 m-0">
            <input type="text-area" class="form-control m-0" id="exampleInputEmail1" 
            aria-describedby="emailHelp" placeholder="Blood Group" style="font-size: 12px;">
        </p>
        </div>
    </div>
  </div>
  
  <div class="row m-0 p-0 px-1">
    <div class="col-12 col-lg col-md col-sm m-0 p-0 mx-1">
      <p class="m-0 p-0 mb-1 text-left" style=" font-size: 14px; font-weight: 600;">Pre-existing Illness</p>
      <div class="mb-1 m-0">
        <p class="p-0 m-0">
            <input type="text-area" class="form-control m-0" id="exampleInputEmail1" 
            aria-describedby="emailHelp" placeholder="Pre-existing Illness" style="font-size: 12px;">
        </p>
        </div>
    </div>
  </div>
  
  <div class="row m-0 p-0 px-1">
    <div class="col-12 col-lg col-md col-sm m-0 p-0 mx-1">
      <p class="m-0 p-0 mb-1 text-left" style=" font-size: 14px; font-weight: 600;">Alergic to</p>
      <div class="mb-1 m-0">
        <p class="p-0 m-0">
            <input type="text-area" class="form-control m-0" id="exampleInputEmail1" 
            aria-describedby="emailHelp" placeholder="Alergic to" style="font-size: 12px;">
        </p>
        </div>
    </div>
  </div>
  
  
  