<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Doctor Details</h1>
    </header>
    <section id="modal-body">
        <form action="">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Doctor Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Address">
            </div>
        </form>
    </section>
    <footer id="modal-footer">
        <button class="btn doc_action_button" id="modal-action-button" (click)="actionFunction()">
            submit
        </button>
        <button class="btn doc_cancel_button" id="modal-cancel-button" (click)="closeModal()">
            cancel
        </button>
    </footer>
</div>
