.wrapper{
    min-height: 450px;
}
.symptom-head{
    color: #000;
    font-size: 22px;
    font-weight: 600;
}
.head{
    margin-bottom: 15px;
}
.button{
    background-color: rgb(76, 76, 153) !important;
    text-shadow: 0.5px 0.5px #4b2323;
    transition: all 0.5s ease;
    font-size: 12px;
}
.button:hover{
    transform: scale(1.1);
}
.table-top{
    border-top: 3px solid rgb(76, 76, 153);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 20px;
}
.main {
    float: right;
    margin-top: 12px;
}



.button_action {
    margin-right: 30px;
    background-color:#36be3d;
    color: white;
    padding: 6px;
    font-size: 12px;
}

.button_cancel {
    background-color: #635f5f;
    color: white;
    padding: 6px;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    .table-scroll {
      overflow-x: scroll;
    }
    .symptom-head{
        font-size: 16px;
    }
    .table-head{
        font-size: 12px !important;
        font-weight: 300;
        text-align: left;
        padding: 0px 5px;
    }
    .button{
        font-size: 14px;
    }
  }