<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Are you sure do you want to delete?</h1>
    </header>
    <!-- <section id="modal-body">
        <p class="text-center">Are you sure delete</p>
    </section> -->
    <footer id="modal-footer">
        <button type="btn" class="btn edit-action-button" (click)="actionFunction()">
            Confirm
        </button>
        <button type="btn" class="btn delete-cancel-button" (click)="closeModal()">
           Cancel
        </button>
    </footer>
</div>